.footer {
    /* padding: 3rem 0 0rem 3rem; */
    padding: 4rem 0rem;
    border-top: 1px solid #eee;
}


.gridContainer {
    display: grid;
    column-gap: 1rem;
    row-gap: 3rem;
    /* margin-bottom: 9.6rem; */
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}


.logo_col {
    display: flex;
    flex-direction: column;
}

.footer_logo {
    display: block;
    margin-bottom: 0.5rem;
}

.logo {
    height: 1.2rem;
    margin-bottom: 0.5rem;
}

.social_links {
    display: flex;
    gap: 0.5rem;

}

.copyright {
    font-size: 0.8rem;
    line-height: 1.4;
    color: #767676;
    margin-top: 2rem;
}

p span {
    font-size: 0.8rem;
}


.social_icon {
    width: 1.2rem;
    height: 1.2rem;
    color: #3b3a39;
    visibility: visible;
    margin-right: 10px;
    margin-bottom: -2px;
    
    
}


.footer_heading {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}


.contacts {
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1;
}


.address {
    margin-bottom: 1rem;
}


.footer_link{
    text-decoration: none;
    font-size: 0.8em;
    color: #767676;
    transition: all 0.3s;
}

.footer_nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


@media (max-width: 900px) {
        .gridContainer {
            grid-template-columns: repeat(6, 1fr);
        }
        .logo_col, .address_col {
            grid-column: span 3;
        }



        .nav_col{
            grid-row: 1;
            grid-column: span 2;

        }
       
}