.section_how {
    padding: 5rem 0;
    max-width: 100vw;
}

.container {
    max-width: 90vw;
    padding: 0 6.5rem;
    margin: 0 auto;
}

.subheading {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.heading_secondary {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    color: rgb(29, 29, 29);
}

.step_img_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step_img {
    width: 35%;
    z-index: 10;
}

.step_img_box::before {
    width: 60%;
    height: 10%;
    padding-bottom: 50%;
    background-color: #fdf2e9;
    z-index: -2;
}
.step_img_box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}

.step_img_box::before, .step_img_box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    
max-width: 80rem;
padding: 0 3.2rem;
margin: 0 auto; 
}






.gcontainer {
    max-width: 80rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    /* column-gap: 6.4rem;
    row-gap: 9.6rem; */
    margin-bottom: 3rem; 
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4.8rem;
    row-gap: 6.4rem;
}

.step_number {
    font-size: 5rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}


.heading_tertiary {
    color: rgb(28, 28, 28);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

.step_description {
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

@media (max-width: 950px)
{.step_number {
    font-size: 3rem;
} 
.heading_tertiary {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.gcontainer{
    grid-template-columns: 1fr;
    row-gap: 4rem;
}

.subheading {
    font-size: 1rem;
    margin-top: 20px;
}

/* .gcontainer > :nth-child(2) {
    grid-row: 1;
  } */
.step_img_box {
    transform: translateY(2.4rem);
}
  .step_img_box:nth-child(2) {
    grid-row: 1;
}

.gcontainer > :nth-child(6) {
    grid-row: 5;

  }

  .heading_secondary {
    font-size: 1.7rem;
   
}

}