
  .img {
    height: 22px;
    width: 163px;
  }


 .main_nav_list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}


 .main_nav_link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 400; 
    font-size: 1.1rem;
    transition: all 0.3s;
}

.main_nav_link:hover {
   color: #e67e22;

}

.main_nav_link:active {
    color: #f1c40f; 
    transform: translateX(-5px); 
  }
 



.main_nav_link.nav_cta{
    padding: 0.8rem 1rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
    transition: background-color 0.3s ease-in-out;

}

.main_nav_link.nav_cta:hover{
    background-color: rgb(246, 154, 6);
}

.icon_button {
  
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

     
     .closed-menu {
      left: 100% !important;
    }
    
    .open-menu {
      right: 0% !important;
    }
    .mobile-nav {
      display: flex;
      width: 100vw;
      height: 100vh;
      z-index: 999;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;}

      

     .mobile-nav span {
        font-size: 2rem;
        position: absolute;
        top: 2rem;
        right: 3rem;
        cursor: pointer;}

        .mobile-nav span:hover {
          color: #e67e22;
        font-weight: 600;}

        .mobile-nav{
          display: flex;
        }
        .mobileul{
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
        .mobilea{
          display: inline-block;
          text-decoration: none;
          color: #333;
          font-weight: 500; 
          font-size: 1.1rem;
          transition: all 0.3s;
        }
        .mobilea:hover{
          color: rgb(246, 154, 6);
      }
      .mobilea:active{
        border: 2px solid rgb(246, 154, 6);
    }

        .mb_btn{
          padding: 0.6rem 1.1rem;
          border-radius: 9px;
          color: #fff;
          background-color: #e67e22;
          transition: background-color 0.3s ease-in-out;
          text-decoration: none;
        }
        .mb_btn:hover{
          background-color: rgb(246, 154, 6);
      }


      @media (max-width: 1000px) { 
        .main_nav_list{
          gap: 2.5rem;
        }
      }


      
      @media (max-width: 950px) {
        .main_nav_link{
        display: none;}

        .icon_button{
          display: flex;
        }
        
      }

      @media (max-width: 600px) {
        .icon_button{
          display: flex !important;
        }

        .main_nav_list{
          gap:0;
        }

        
       }










